# Byte-compiled / optimized / DLL files
__pycache__/
env
**/.DS_Store


# Django
/backend/accounts/migrations
/backend/orders/migrations

staticfiles
db.sqlite3


#frontend
node_modules
dist/
.vite/
package-lock.json